body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.glitch {
    font-size: 2.5rem;
    margin: 0;
}

.loader + p {
    margin-top: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 0;
    text-align: center;
}

ul li {
    margin: 0.5rem 0;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #ff3e3e;
}

.links {
    margin-top: 10rem;
}
