body {
    position: relative;
}

.snowflake {
    position: fixed;
    top: -10px;
    font-size: 1em;
    color: white;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateX(0) translateY(-10vh);
    }
    100% {
        transform: translateX(calc(var(--dx) * 100vw)) translateY(111vh);
    }
}

.description {
  display: none;
  padding: 10px;
  background-color: #f8f8f8;
}

.show {
  display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: red !important;
}

.close {
    color: #aaa;
    font-family: scp;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}
